.add-and-filter-container {
    display: grid;
    grid-auto-flow: column;
    padding: 0.8rem;
    border-block: 3px solid var(--clr1-2);
}

.add-and-filter-container .btn-add {
    background-color: var(--clr1);
    color: var(--txt-clr1);
    width: 9rem;
    height: 2.9rem;
    border-radius: 3rem;
    display: grid;
    place-content: center;
    font-size: 1.2rem;
}

.toy-filter {
    place-self: center end;
}

.toy-filter input{
    width: 9rem;
    height: 2.9rem;
    border-radius: 3rem;
    background-color: var(--bcg1);
    border: 1px solid var(--txt-clr2);
}

.toy-filter input:focus {
    border: none;
    outline: 1px solid var(--clr1);
}