.user-msg {
    background-color: lightgray;
    padding: 1em;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.user-msg.success {
    background-color: var(--main-bg-color);
    border-radius: 6px;
    border: 1px solid darkgreen;
}

.user-msg.error {
    background-color: var(--main-bg-color);
    border-radius: 6px;
    border: 1px solid darkred;
}


.user-msg button{
    float: right;
    margin: 1em;
}