.app-layout {
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
}

.app-layout>*:not(.full) {
    grid-column: 2;
}

.app-layout>*.full {
    grid-column: 1/ -1;
}

.content-layout {
    display: grid;
    grid-template-columns: 1fr  max-content;
}

.content-layout .toy-list{
    grid-column: 2;
}

.content-layout .add-and-filter-container {
    grid-column: 1 / -1;
}


.toys-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* .todos-layout {
    grid-column: 2;
    display: grid;
    grid-auto-rows: max-content;
}

.toy-layout {
    display: grid;
    grid-template-columns: minmax(50px 1fr) 1000px minmax(50px 1fr);
}

.container {
    max-width: 800px;
    padding: 1em;
    margin: auto;
}

footer {
    background-color: var(--clr1);
    color: var(--clr1bg);
    padding: 1em;
    text-align: center;
} */